<!DOCTYPE html>
<html lang="{{ lang or 'en' }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Hina+Mincho&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
  <link rel="icon" href="/EleFavi.ico" type="image/x-icon">
</head>
<body>
  <div class="main-content">
    {{ content | safe }}
  </div>
</body>
</html>
