<!DOCTYPE html>
<html lang="{{ lang or 'en' }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ '/fonts/fonts.css' | bust }}">
  <link rel="stylesheet" href="{{ '/style.css' | bust }}">
  <link rel="icon" href="/EleFavi.ico" type="image/x-icon">
</head>
<body>
  <div class="main-content">
    {{ content | safe }}

    <footer class="legal-footer">
      <a href="/impressum/" class="mincho-link">Impressum</a>
      <a href="/datenschutz/" class="mincho-link">Datenschutz</a>
      <a href="/widerruf/" class="mincho-link">Widerrufsrecht</a>
    </footer>
  </div>
</body>
</html>
